<%= form_for(feed) do |f| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "What is the title or theme of the resource?" %>
  </div>
  
  <div class="form-group">
    <%= f.label :context %>
    <%= f.bootsy_area :context, class:"form-control", rows: "6", placeholder: "Paste any description or reading material that will help students understand the context of the writing prompt." %>
  </div>
  
  <div class="form-group">
    <%= f.label :prompt %>
    <%= f.bootsy_area :prompt, class: "form-control", rows: "3", placeholder: "What should students write about?" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-success btn-block" %>
  </div>
<% end %>
