<% if user_signed_in? %>
    <div class="page-header">
        <h1>Feeds</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="list group">
                <% @feeds.each do |feed| %>
                    <%= link_to feed.title, feed, class: "list-group-item" %>
                <% end %>
                <br>
                <% if current_user.try(:admin?) %>
                    <%= link_to "New Feed", new_feed_path, class: "btn btn-info btn-md" %>
                <% end %>
                <% unless current_user.try(:admin?) %>
                    <%= link_to "Back", root_path, class: "btn btn-info btn-md" %>
                <% end %>
            </div>
            <% @feeds.each do |feed| %>
                <div class="jumbotron">
                    <h2><%= link_to feed.title, feed %></h2>
                    <br>
                    <h3>This week you will practice writing <i><%= feed.focus %></i>.</h3>
                    <%= link_to "Read More", feed, class: "btn btn-default" %>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="jumbotron">
        <h1>be social</h1>
        <p>read and write with your classmates in a <i>digital space</i></p>
        <p>
            <%= link_to "Log in", new_user_session_path %> or 
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>
        </p>
    </div>
<% end %>



