<% if current_user.try(:admin?) %>
    <%= link_to 'Back', feeds_path %>
<% end %>

<div class="page-header">
    <h1><%= @feed.title %></h1>
</div>
<div class="well well-sm">
    <p>
        <%= @feed.context %>
    </p>  
</div>

<div class="well well-sm">
    <p>
        <%= @feed.prompt %>
    </p>
</div>

<% if current_user.try(:admin?) %>
    <div class="btn-group btn-group-justified">
        <%= link_to 'Edit', edit_feed_path(@feed), class: "btn btn-success" %>
        <%= link_to 'Delete', @feed, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>
