<% if user_signed_in? %> 
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1>"<%= @feed.title %>"
                <br>
                    <small class="indent-name">by <%= @feed.user.name %></small>
                </h1>
            </div>
            <div class="well">
                <h3>Check this out:</h3>
                <hr>
                <p>
                    <%= raw(@feed.context) %>
                </p>
            </div>
            <div class="well">
                <h3>Write about it:</h3>
                <hr> 
                <p>
                    <%= simple_format(@feed.prompt) %>
                </p>
            </div>
            <br>
            <br>
            <div class="btn-group btn-group-justified">
                <% if current_user.try(:admin?) %>
                    <%= link_to 'Back', feeds_path, class: "btn btn-primary" %>
                    <%= link_to 'Edit', edit_feed_path(@feed), class: "btn btn-success" %>
                    <%= link_to 'Delete', @feed, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                <% else %>
                    <%= link_to 'Write Your Response', new_feed_response_path(@feed), class: "btn btn-primary" %>
                <% end %>
            </div>
            <br>
            <br>
            <div class="page-header">
                <h3>Responses</h3>
            </div>
            <% if @feed.responses.exists? %>
                <div class="responsesdiv">
                    <%= render :partial => 'responses/response', :collection => @feed.responses %>
                </div>
            <% else %>
                <blockquote>No responses yet :(</blockquote>
            <% end %>
            <br>
        </div>
    </div>
<% else %>
    <div class="jumbotron">
        <h1>be social</h1>
        <p>read and write with your classmates in a <i>digital space</i></p>
        <p>
            <%= link_to "Log in", new_user_session_path %> or 
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>
        </p>
    </div>
<% end %>