<% if current_user.try(:admin?) %>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="page-header">
                <h2>Review responses</h2>
            </div>
            <% @responses.reverse_each do |response| %>
                <% if response.responses.empty? %>
                    <% unless response.user.name == "Thaddeus McCleary" %>
                    	<div class="panel panel-default">
                    		<div class="panel-heading">
                    			<h1 class="panel-title">by <strong><%= response.user.name %></strong> in "<%= link_to response.feed.title, feed_path(response.feed, @feed) %>"</h1>
                    		</div>
                    		<div class="panel-body">       
                        		<%= raw(response.body) %>
                        	</div>
                            <div class="panel-footer">
                                <%= link_to 'Add a Reply', new_response_response_path(response) %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="jumbotron">
        <h1>Not authorized.</h1>
        <p><%= link_to "Go Back", root_path, class: "btn btn-info" %></p>
    </div>
<% end %>